{% extends "base.html" %}
{% block title %}ELIMINAR RESPUESTAS{% endblock title %}
{% block css1 %}<link href="/static/css/form.css" type="text/css" rel="stylesheet">{% endblock css1 %}
{% block css2 %}<link href="/static/css/perfilusuario.css" type="text/css" rel="stylesheet">{% endblock css2 %}	
{% block aux %}
<li><a href="/respuestas/addRespuestas_Opcionales/">Crear respuestas</a></li>
<li><a href="/respuestas/verrespuestas/">Ver respuestas</a></li>
<li><a href="/respuestas/detallesrespuestas/">Detalles por respuesta</a></li>
<li><a href="/respuestas/respuestaseliminar/">Eliminar respuesta</a></li>
<li><a href="/respuestas/controlrespuestas/">Control de respuestas</a></li>
{% endblock aux %}	
{% block encabezado %}ELIMINAR UNA RESPUESTA CUALQUIERA{% endblock encabezado %}
{% block container %}
<ol>
{% for i in lista %}
<li><a href="/respuestas/eliminarrespuesta/{{i.id}}">{{i.enunciado}}</a></li>
{% endfor %}
</ol>
{% endblock %}
	