{% extends "base.html" %}
{% block title %}VER DETALLE DE UNA PREGUNTA{% endblock title %}
{% block css1 %}<link href="/static/css/form.css" type="text/css" rel="stylesheet">{% endblock css1 %}	
{% block css2 %}<link href="/static/css/perfilusuario.css" type="text/css" rel="stylesheet">{% endblock css2 %}
{% block aux %}
<li><a href="/respuestas/addRespuestas_Opcionales/">Crear respuestas</a></li>
<li><a href="/respuestas/ver_respuestas/">Ver respuestas</a></li>
<li><a href="/respuestas/detalle_respuestas/">Detalles por respuesta</a></li>
<li><a href="/respuestas/eliminar_lista_respuestas/">Eliminar respuesta</a></li>
<li><a href="/respuestas/controlar_respuestas/">Controlar respuestas</a></li>
{% endblock aux %}		
{% block encabezado %}VER DETALLE DE UNA RESPUESTA{% endblock encabezado %}
{% block container %}
	<H2>{{pregunta.enunciado}} </H2>
	<H2>
		<ol>
			<li>{{respuesta1.pregunta}}</li>
			<li>{{respuesta2.pregunta}}</li>
			<li>{{respuesta3.pregunta}}</li>
			<li>{{respuesta4.pregunta}}</li>
		</ol>
		RESPUESTA: {{pregunta.respuesta_correcta}}
	</H2>
{% endblock %}