<div class="container">
        <div class="row menu">
            <div class="col-xs-7">
              <ul class="span12">

                <li><a href="#">Inicio</a></li>
                <li><a href="/user/registro/">Registro</a></li>
                <li><a href="/login/">Login</a></li>
                <li><a href="/categoria/">Admin</a></li>
              </ul>
            </div class="col-xs-5">
                <div class="menu1 ex1">
                    <img src="{{STATIC_URL}}img/triv.png" class="img-responsive" alt="Responsive image">
                </div>
            <div>
        </div>  
</div> 
