body { 
    /*background: black;*/
    background-image:url("../img/Ciudad.jpg");

}
h1{    
    width: auto;
    background-color: black;
    font-family: arial;
    font-size: 19px;
    text-align: left;
    margin: 0;
    padding: 1px 0px 1px 5px;
    border: 0;
    text-shadow: 0px 2px 0px white;

}
h3 {
    background: yellow;
}
.color {
    background: #008080;
    border-radius: 10px;
    height: 500px;
    width: 500px;
}
.menu{
    margin-bottom: 15px;
    background-image: -webkit-linear-gradient(top left, #008080, #996633,#008080);
    background-image: -moz-linear-gradient(top left, #008080, #996633,   #008080);
    background-image: -ms-linear-gradient(top left, #008080, #996633,   #008080);
    background-image: -o-linear-gradient(top left, #008080, #996633,    #008080);
    border-radius: 12px;
    border: black 5px solid;
    height: 100px;
}
.span12{ 
    font-size: 20pt;
 }
.span12{
    list-style:none;
    margin:0 7px 0 7px;
    padding:0;
}
.span12 li{
    /*Bordes redondeados*/
    -webkit-border-radius:5px;/*Chrome y Safari*/
    -moz-border-radius:5px;/*Firefox*/
    -o-border-radius:5px;/*Opera*/
    border-radius:5px;/*Estandar por defecto*/
    float: left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight:bold;
    margin-right:6px;
    text-align:center;
    /*Sombras para texto, los mismos parametros que box-shadow*/
    text-shadow: 0px 1px 0px #000;
    width: 18%;
}
.span12 li a{
    color:#999;
    display:block;
    padding:6px;
    text-decoration:none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(top left, #008080, #996633,#008080);
    /*border: 5px solid orange;*/
    overflow: hidden;
    font-weight: bold;
    transform: rotate(0deg) orange;
}
.span12 li:hover{
     border: 5px solid #996633;
}
.span12 li a:hover {
    background-color: #996633;
    border: 5px solid #996633;
}  
.ex1 img{
    border: 0px solid #ccc;
    left:100px ;
    height: 30;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.ex1 img:hover {
    margin-top: 2px;

}
.ex2 {
    margin-top: 2px;
    border: #FFEFD5 2px solid;
    
}
.ex2 img{
    border: 0px solid #ccc;
    float: left;
    margin: 15px;*/
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
    border: #FFEFD5 2px solid;
}
.ex2 img:hover {
    margin-top: 2px;
    border: #FFEFD5 2px solid;
}
.menus {
    background: black;
    border-radius: 10px;
    border: #696969 6px solid;
} 
.menusss {
    background-image: -webkit-linear-gradient(top left, #a0522d, orange);
    background-image: -moz-linear-gradient(top left, #a0522d, orange);
    background-image: -ms-linear-gradient(top left, #a0522d, orange);
    background-image: -o-linear-gradient(top left, #a0522d, orange);
    border-radius: 10px;
    border: #696969 5px solid;
    top:30px;
    height: 200px;
} 
.menusssss {
    border-radius: 10px;
    border: #696969 5px solid;
    top:10px;
    height: 200px;
}
.pie {
    background-color: hsl(51, 40%, 60%);
    border-radius:5px;/*Estandar por defecto*/
}  
 /*diseño de los formularios*/ 
#formulario {
    position:absolute;
    width: 300px;
    height: 350px;
    top:45px;
    right:300px;
    left:450px;
    bottom:100px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:#696969; 
    border-radius: 11px;
    border-bottom: 10px;

}
#formulario4 {
    position:absolute;
    width: 300px;
    height: 300px;
    top:60px;
    right:300px;
    left:450px;
    bottom:100px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:#8B4513; 
    border-radius: 11px;
    border-bottom: 10px;

}

#formulario2 {
    position:absolute;
    width: 300px;
    height: 350px;
    top:0px;
    right:300px;
    left:400px;
    bottom:100px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:black ; 
    border-radius: 11px;
    border-bottom: 10px;
   
}
#formulario3 {
    position:absolute;
    width: 150px;
    height: 450px;
    top:50px;
    right:300px;
    left:400px;
    bottom:100px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:black ; 
    border-radius: 11px;
    border-bottom: 10px;
   
}
/*PARALA IMAGEN DEL CONTAINER*/ 
<style type="text/css">

 img.pequeña{width: 50px; height: 50px;}
 img.mediana{width: 450px; height: 700px;}
 img.grande{width: 630px; height: 300px;}

</style>
.image {
position: relative;
width: 100%;
}

h2 {
position: absolute;
top: 30px;
left: 350px;
width: 100%;
}

h2 span {
color: #FFDEAD;
font: bold 24px/45px Helvetica, Sans-Serif;
letter-spacing: -1px;
padding: 10px;

}
h6 {
position: absolute;
top: 150px;
left: 20px;
width: 100%;


}

h6 span {

font: bold 30px Helvetica, Sans-Serif;
letter-spacing: -1px;
padding: 10px;

}
h4 {
position: absolute;
top: 220px;
left: 300px;
width: 450px;
font: bold 15px Helvetica, Sans-Serif;
color: #FFDEAD;

}
h5 {
    font: bold 20px Helvetica, Sans-Serif;
}
.btn {
    font-weight: bold;
    color: black;
    cursor: pointer;
    padding: 5px;
    margin: 0 10px 20px 0;
    border: 1px solid #ccc;
    background-image: -webkit-linear-gradient(top left, #008080, #996633,#008080);
    border-radius: 8px 8px 8px 8px;
}
/*aqui se ara todo para preguntas*/
#menupre {
    margin-bottom: 7px;
    background: linear-gradient(orange, pink);
    border-radius: 7px;
    border: black 5px solid;
}
/*para las categorias*/
.cat{ 
    font-size: 11pt;
    background-image: -webkit-linear-gradient(top left, #008080, #996633,#008080);

}
.cat li{
    width: 20%;
    background-image: -webkit-linear-gradient(top left, #008080, #996633,#008080);

}
.cat li a{
    color:blue;
    display:block;
    transform: rotate(0deg) orange;
}
