body {
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(top left, black, white);
    background-image: -moz-linear-gradient(top left, black, white);
    background-image: -ms-linear-gradient(top left, black, white);
    background-image: -o-linear-gradient(top left, black, white);
}
nav h1{    
    width: auto;
    background-color: hsl(51, 40%, 60%);
    font-family: arial,Helvetica,sans-serif;
    font-size: 30px;
    text-align: left;
    margin: 0;
    padding: 1px 0px 1px 5px;
    border: 0;
    text-shadow: 0px 2px 0px #000;

}
h3 {
    background: yellow;
}
.color {
    height: 800px;
    padding: 15px 0; 
    background: -moz-radial-gradient(50% 50%, #ff8000, #fff); 
    background: -webkit-radial-gradient(50% 50%, #ff8000, #fff);
    background: -o-radial-gradient(50% 50%, #ff8000, #fff); 
    background: -ms-radial-gradient(50% 50%, #ff8000, #fff); 
    background: radial-gradient(50% 50%, #ff8000, #fff);
    border: #ff8000 3px solid;
}
.menu{
    margin-bottom: 10px;
    background: linear-gradient(orange, pink);
}
.span12{ 
    font-size: 15pt;
 }
.span12{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
}
.span12 li{
    /*Bordes redondeados*/
    -webkit-border-radius:5px;/*Chrome y Safari*/
    -moz-border-radius:5px;/*Firefox*/
    -o-border-radius:5px;/*Opera*/
    border-radius:5px;/*Estandar por defecto*/
    float: left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:25px;
    font-weight:bold;
    margin-right:10px;
    text-align:center;
    /*Sombras para texto, los mismos parametros que box-shadow*/
    text-shadow: 0px 1px 0px #000;
    width: 20%;
}
.span12 li a{
    color:#999;
    display:block;
    padding:10px;
    text-decoration:none;
    /*Transiciones*/
    -webkit-transition: 0.4s linear all;
    -moz-transition: 0.4s linear all;
    -o-transition: 0.4s linear all;
    transition: 0.4s linear all;
}
.span12 li:hover{
    border:0;
}
.span12 li a:hover {
    background-color: hsl(153, 20%, 40%);;
} 
.ex1 img{
    border: 5px solid #ccc;
    float: left;
    margin: 15px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.ex1 img:hover {
    margin-top: 2px;
} 
.pie {
    background-color: hsl(51, 40%, 60%);
    border-radius:5px;/*Estandar por defecto*/
}                                          