body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url("../images/Ciudad.jpg");
}

h2 {
  color: white;
}
h4 {
  width: 30%;
}
.se {
	left: 50px;
	width: 50%;
	color: #008080;
	font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
}
.see {
	background-image: -webkit-linear-gradient(top left, #008080, #996633,#008080);
    background-image: -moz-linear-gradient(top left, #008080, #996633,   #008080);
    background-image: -ms-linear-gradient(top left, #008080, #996633,   #008080);
    background-image: -o-linear-gradient(top left, #008080, #996633,    #008080);
	font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    height: 100px;
}
.formulario {
	margin-top: 70px;
}
/*para el chat*/
.formulario1 {
  margin-top: 70px;
  width: 40%;
  background-color: #87CEFA;

}

<style type="text/css">

 img.pequeña{width: 10px; height: 10px;}
 img.mediana{width: 300px; height: 300px;}
 img.grande{width: 630px; height: 800px;}

</style>
#crear
{
	width:5%;
}
.ex1 img{
    border: 0px solid #ccc;
    left:100px ;
    height: 30;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;
}
.ex1 img:hover {
    margin-top: 2px;

}
/*para la parte del chat de slas*/

