{% extends "base.html" %}
{% block nav %}
	<h1>BIENVENIDO</h1>
{% endblock %}

{% block title %}
	    <title>Perfil Uauario</title>
{% endblock %}

{% block contenido %}
	<div class="container ">
		<div class="row2 ">
            <div class="col-xs-12">
                <ul class="cat">
                    <div>
                    <li><a href="/user/modificar/">Modificar cuenta</a></li>
                    </div>
                    <div>
                    <li><a href="/listapartidas/">Partidas</a></li>
                    </div>
                    <div>
                    <li><a href="/#/"></a></li>
                    </div>
                </ul>                      
                <h2>Bienvenido {{ user.get_full_name }}</h2><br><br><br>
                <img src="/media/{{ user.perfil.avatar.url_200x200}}" alt="avatar">
                <br><br><br><br><br><b><br><br>
            </div>
        </div>
	</div>
{% endblock %}