div(class="panel panel-default formulario1")
	div(class="panel-heading formulario2") #{title}
	div(class="panel-body formulario2")
		table(class="table")
			tr
				th Mensajes
				th Lista
			tr
				td
					ul#mensajes
				td
					ul#usuarios
	div(class="panel-footer")
		input(type="text", class="form-control",placeholder="Mensaje aqui" id="menvio")

