{% extends "base.html" %}
{% block nav %}
	<h1>BIENVENIDO</h1>
{% endblock %}

{% block title %}
	    <title>Login</title>
{% endblock %}

{% block contenido %}
			<div class="col-xs-12">
				<center>
					<img src="{{STATIC_URL}}img/img1.jpg" class="img-responsive" alt="Responsive image">
				</center>
			{% if estado %}
				<div class="alert alert-danger" role="alert">{{mensaje}} <span class="glyphicon glyphicon-warning-sign"></span></div>
			{% endif %}
			<form id="formulario2" action="" method="post">
				<br><br>
				<h4>Ingrese a su cuenta</h4><br><br>
				{% csrf_token %}
				{{ formulario.as_p }}
				<button class="boton" type="submit" class="btn btn-primary">Ingresar</button>
				<div class="form-group">
			  		<div class="col-sm-offset-2 col-sm-10">
			  			{{formulario2.as_p}}
			  		</div>
			  	</div>
			</form>
				
			</div>
			<div>
				{{formulario2.as.p}}
			</div>
		</div>
	</div>
{% block footer %}
          
    <center>Creado por Silvia Flores</center>
{% endblock %}
    
{% endblock %}