{% extends "base.html" %}
{% block nav %}
	<h1>BIENVENIDO</h1>
{% endblock %}

{% block title %}
	    <title>Registro usuario</title>
{% endblock %}

{% block contenido %}
			<div class="col-xs-12">
				<center>
					<img src="{{STATIC_URL}}img/img1.jpg" class="img-responsive" alt="Responsive image">
				</center>
			<center>
				<form align="center" id="formulario"action="" method="post">
					<h4>Ingrese sus datos</h4><br>
					{% csrf_token %}
					{{ formulario.as_p }}
					<button type="submit" class="btn btn-primary">Registrar</button>
				</form>
			</center>	
			</div>
{% block footer %}
	<h1>Creado por Silvia Flores</h1>
{% endblock %}
{% endblock %}