{% extends "perilA.html" %}
{%block title%}
		<title>Registro de Respuestas</title>
{%endblock%}
{% block contenido %}
	<div class="container color">
			<div class="col-xs-12">
			<center>
				<form id="formulario3" action="" method="post">
					<br><br><br><br><br><br><br><br>
					<h4>insertar respuestas</h4><br><br><br>
					{{form.as_ul}}
					{% csrf_token %}
					<br>
                    <br>
					<button class="boton" type="submit" class="btn btn-primary">Registrar</button>
				</form>
			</center>	
			</div>
	</div>
{%endblock%}