{% extends "principal.html" %}
{% block title %}LISTA DE PARTIDAS{% endblock title %}
{% block encabezado %}CREAR PARTIDAS{% endblock encabezado %}
{%block contenido%}
<div class="container">
	<h1><center>NUEVA PARTIDA</center></h1>
	<div class="col-xs-12">
			<center>
					<form action="" method="POST" id="formulario4">
						{{form.as_ul}}
						{% csrf_token %}
					<input type="submit" value="CREAR">
					<br><br><a href="/trivia/" target="_self" ><input type="button" value="CANCELAR"></a></form>
			</center>	
	</div>
</div>
	

{%endblock%}
	