{% extends "perilA.html" %}
{% block title %}LISTA DE CATEGORIAS{% endblock title %}
{% block encabezado %}LISTA DE CATEGORIAS{% endblock encabezado %}
{% block contenido %}
     	<div class="container color">
			<div class="col-xs-12">
				<ul class="cat">
					<li><a href="/categoria">Crear categorias</a></li>
					<li><a href="/vercategorias">Ver categorias</a></li>
					<center>
				</ul>
				<center>
				</center>
						<h5>LISTA DE CATEGORIAS</h5>
						<br>
						<ul id="categorias">
						{% for i in lista %}
						<li>{{i.nombre}}</li>
						{% endfor %}
						</ul>
				</center>	
			</div>
		</div>
{% endblock contenido %}
	