{% extends "perilA.html" %}
{% block encabezado %}LISTA DE PREGUNTAS{% endblock encabezado %}
{% block contenido %}
   <div class="container color">
        <div class="row1">
            <div class="col-xs-12 ex1 image">
            	<ul class="cat">
            	<li><a href="/preguntas/">Crear preguntas</a></li>
				<li><a href="/verpreguntas/">Ver preguntas</a></li>
				<li><a href="/detallepreguntas/">Detalles por pregunta</a></li>
				<li><a href="/eliminarpregunta/">Eliminar pregunta</a></li>
				<li><a href="/controlarpregunta/">Control de preguntas</a></li>
            	</ul>
				<form id="formulario3" action="" method="post">
				{% for i in lista %}
				{{i.id}}.-{{i.enunciado}}
				<ol id="lista">
				<li>{{i.respuesta1}}</li>
				<li>{{i.respuesta2}}</li>
				<li>{{i.respuesta3}}</li>
				<li>{{i.respuesta4}}</li>
				</ol>
				</form>
			</div>
        </div>
    </div>	
RESPUESTA: {{i.respuesta_correcta}}<br><br>
{% endfor %}
{% endblock contenido %}
	